.ownerProfile {
	overflow-y: auto;
	&::-webkit-scrollbar {
		display: none;
	}
	> h2 {
		font-size: 2.2rem;
		margin: 1rem 2rem;
	}
	// filter div
	> .filter {
		margin: 1rem 2rem;
		padding: 1rem 0;
		// background-color: red;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1rem;
		> .filterInp {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 1rem;
			border: 1.5px solid #029e9d;
			padding: 0.2rem 1rem;
			border-radius: 5px;
			width: 50%;
			> input {
				@include inputStyles;
				padding: 0.8rem 1rem;
				width: 100%;
				height: 100%;
				font-size: 1rem;
			}
		}
		> button {
			padding: 1rem 3rem;
			border-radius: 5px;
			background-color: #029e9d;
			// width: 15%;
			color: white;
			font-size: 1rem;
		}
	}
	> .tableContainers {
		margin: 0 2rem;
		margin-bottom: 2rem;
		> .tableHeading {
			> p {
				color: #fcfcfc;
			}
			> .billHeaders {
				width: 100%;
				// height: 100%;
				// background-color: red;
				// padding: 4rem;
				display: flex;
				color: #fcfcfc;
				align-items: center;
				justify-content: space-between;
				> * {
					font-family: "Gilroy";
					font-weight: 500;
					font-size: 0.9rem;
				}
			}
		}
		> .Table {
			border: 1.5px solid #029e9d;
			> .tableContentBody {
				.billTotal {
					width: 100%;
					display: flex;
					align-items: flex-end;
					justify-content: flex-end;
					flex-direction: column;
					padding: 1rem 4rem;
					> div {
						display: grid;
						grid-template-columns: 1fr 1fr;
						width: 40%;
						place-items: end;
						// gap: 2rem;
					}
				}
			}
			.billTotal {
				width: 100%;
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
				flex-direction: column;
				padding: 1rem 4rem;
				background-color: #029e9d;
				> div {
					display: grid;
					grid-template-columns: 1fr 1fr;
					width: 100%;
					place-items: end;
					color: #fcfcfc;
					// gap: 2rem;
					> h4:first-child {
						place-self: start;
					}
					&:last-child {
						border-top: 1.5px solid #000;
						margin-top: 1rem;
						> h4 {
							font-size: 1.5rem;
							color: #000;
						}
					}
				}
			}
		}
	}
	> button {
		padding: 0.6rem 1.2rem;
		font-size: 1.6rem;
		font-weight: 700;
		background-color: #d70372;
		border-radius: 5px;
		color: #fcfcfc;
		margin-left: auto;
		display: block;
		margin-right: 2.2rem;
		margin-bottom: 2rem;
		outline: none;
		border: none;
		font-size: 1rem;
		transition: all 0.4s;
		&:hover {
			background-color: #d70371a0;
		}
	}
	> .billpay {
		padding: 1rem 2rem;
	}
}

.tableContainer {
	margin: 0 2rem;
	border-radius: 5px;
	box-shadow: 0 0 0 1px hsl(240, 0%, 47%);
	margin-bottom: 2rem;
}
